section {
    font-family: 'Times New Roman', Times, serif !important;
    font-size: medium;
}
.inputButton{
    margin: auto;
    width: 35%;
}

.emial-input{
    text-transform: none;;
}
.loginContainer{
    background-image: linear-gradient(skyblue, white);
}